.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./img/coffee.png") no-repeat center center;
  background-size: cover;
  text-align: center;
}

.hero-content {
  max-width: 800px; /* Limits the width of the content */
  padding: 2rem;
  color: #fff;
  z-index: 1; /* This ensures that the content stays above the background */
}

.hero h1 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.25rem;
  font-family: "Arial", sans-serif;
  margin-bottom: 2rem;
}

.cta-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #d2b48c;

  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-family: "Arial", sans-serif;
}

.cta-button:hover {
  background-color: #fff;
  color: #4b2e2a;
}

.cta-button-icon {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}
.shop {
  text-decoration: none;
  color: #4b2e2a;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.125rem;
  }

  .cta-button {
    font-size: 1rem;
    padding: 0.5rem 1.25rem;
  }
}
