*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.main-page {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 15px;
    margin-bottom:100px;
  }
  
  .story-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 20px;
  }
  
  .story-text {
    flex: 1;
    margin: 20px 10px 20px 20px;
  }
  
  .story-text h2 {
    font-size: 2.5rem;
   
  }
  
  .story-text p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-top:20px;
  }
  
  .story-card {
    flex: 1;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
     margin:60px 0 0 20px;
  }
  
  .story-card img {
    width: 80%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .story-card:hover img {
    transform: scale(1.05);
    transition: all 0.4s ease-in-out;
  }
 .reverse {
    flex-direction: row-reverse;
  }
   
  .reverse .story-card {
    order: 1;
  }
  
  .story-section h2 {
    font-size: 2rem;
    color: #4B2E2A;
    margin-bottom: 15px;
  }
  
  .story-section p {
    font-size: 1rem;
    line-height: 1.6;
    color: #4B2E2A;
  }
  .story-name{
    text-decoration: none;
    font-weight: 600;
    color: #4B2E2A;
}
  
  
  @media (max-width: 768px) {
    .story-section {
      flex-direction: column;
      text-align: center;
    }
  
    .story-card, .story-text {
      margin: 0;
    }
    .story-card img{
        margin-top:30px;
    }
  
    .story-text h2 {
      font-size: 2rem;
    }
  
    
  }
  