* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quiz-container {
  background: linear-gradient(to bottom right, #f5f0e6, #dfc6b8, #f5ddc9);
  padding: 40px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

/* Title styling */
.quiz-title {
  text-align: center;
  color: #4b2e2a;
  font-size: 2rem;
  margin: 30px;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}


.quiz-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px auto;
  gap: 25px;
}


.question {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.radio-links {
  display: flex;
  gap: 15px;
  margin: 30px;
}

.question h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
  font-weight: 500;
}

.question label {
  display: block;
  margin: 12px 0;
  font-size: 1.1rem;
  color: #555;
  cursor: pointer;
  transition: color 0.3s;
}

.question input[type='radio'] {
  margin-right: 15px;
}

.question label:hover {
  color: #4b2e2a;
}


.submit-btn {
  padding: 12px 30px;
  background-color: #4b2e2a;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  margin: 30px auto 10px;
  width: 200px;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-btn:hover:not(:disabled) {
  background-color: #6f3d35;
}



.result{
  width:80%;
  margin:0 auto;
  padding:20px;
  border-radius:20px;
}

.coffee-rec {
  font-size:18px;
}
.quiz-link {
 width:100%;
 margin:20px auto;
 text-align:center;
 
 
}
.quiz-link a {
  color: #4b2e2a;
}

@media (max-width: 768px) {
  .quiz-container {
    padding: 30px;
    max-width: 90%;
  }

  .quiz-title {
    font-size: 2rem;
  }

  .question h3 {
    font-size: 1.3rem;
  }

  .question label {
    font-size: 1rem;
  }

  .submit-btn {
    font-size: 1rem;
    width: 180px;
  }

  .result h3 {
    font-size: 1.5rem;
  }

  .result p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .quiz-container {
    padding: 20px;
    max-width: 95%;
  }

  .quiz-title {
    font-size: 1.8rem;
  }

  .question h3 {
    font-size: 1.2rem;
  }

  .question label {
    font-size: 0.9rem;
  }

  .submit-btn {
    font-size: 0.9rem;
    width: 160px;
  }

  .result h3 {
    font-size: 1.3rem;
  }

  .result p {
    font-size: 0.9rem;
  }
}
