
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
  
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
 
}
.carousel-container {
  max-width: 80%;
  margin: 40px auto;
  position: relative;
  text-align: center;
  padding: 20px;
  background-color: #f3e5d8;
 border-radius:20px;
 box-shadow: 2px 3px 8px  rgba(75, 46, 42, 0.2); 
 
}
.carousel-container h2{
  color:#4b2e2a; 
  margin:20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  font-size:2.2rem;

}

.carousel-slide img {
  width: 50%;
  height: 50vh;
  border-radius: 12px;
  object-fit: cover;
}
.carousel-slide h3{
  margin-top:20px;
  color:#4b2e2a; 
}
.carousel-slide p{
  width:70%;
  margin:20px auto;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px 18px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
}
.carousel-subtext {
  font-size: 18px;
  color: #5c3a1a;
  margin-bottom: 20px;
}

.prev-button
{
  left: 100px;
  background-color: #4b2e2a; 
 border-radius:50%;
  
}
.next-button {
  right:100px;
  background-color: #4b2e2a; 
}
.details-button{
  background-color:#d2b48c; 
  color:#4b2e2a; 
  border-radius: 20px;
  padding:10px 25px;
  border:none;
  transition: all 0.5s ease-in-out;
  margin:10px;
}
.details-button:hover{
  background-color: #fff;
}  

@media (max-width: 768px) {
  .carousel-slides {
    flex-direction: column; 
    align-items: center;
  }

  .carousel-slide {
    flex: 0 0 80%; 
    margin-bottom: 20px;
  }

  .carousel-button {
    top: 50%;
    transform: translateY(-50%);
  }
}